{% extends "master.html" %}

{% block title %}
 - About
{% endblock %}

{% block content %}
<div class="container-md my-4">
  <h1 class="fw-bold my-4">About MaryaPorr</h1>
  <div class="row">
    <div class="col-md-6 mb-4 mb-md-0">
      <img src="/static/media/img/maryam.jpg" class="img-fluid" alt="Maryam and her promotors">
      <p class="text-center mt-2">Maryam and her promotors at Ghent University</p>
    </div>
    <div class="col-md-6">
      <h2>
        Our Mission
      </h2>
      <p>
        At MaryaPorr, we're on a bold mission: 
        <b>to end childhood malnutrition once and for all.</b> 
        Based in Belgium but with our hearts in Kenya and eyes on the world, 
        we're pioneering innovative, insect-fortified instant foods that are nutritious, 
        sustainable, and culturally relevant.
      </p>
      <h2>
        Our approach
      </h2>
      <p>
        We believe in turning research into real-world impact. 
        That's why MaryaPorr isn't just about innovative food products; 
        it's about bridging the gap between academic findings and practical solutions. 
        Our insect-fortified instant foods are:
      </p>
      <ul>
        <li>
          <b>Highly Nutritious</b>:
          Packed with quality proteins, fatty acids, vitamins, and minerals
        </li>
        <li>
          <b>Child-safe</b>:
          Suitable for children of 6 month and older
        </li>
        <li>
          <b>Sustainable</b>:
          Insect farming has a significantly lower environmental impact
        </li>
        <li>
          <b>Culturally Appropriate</b>:
          Building on existing dietary practices in many parts of the world
        </li>
        <li>
          <b>Accessible</b>:
          Designed to be affordable and easy to prepare
        </li>
      </ul>
    </div>
  </div>
  <h2>
    Our Founder
  </h2>
  <p>
    <a href="https://www.linkedin.com/in/maryam-imbumi-11113b79/">Maryam Imbumi</a> is more than just our founder; she's the heart and soul of MaryaPorr. 
    As a PhD student, nutritionist, and socio-economist born and raised in Western Kenya, 
    she brings a unique blend of academic rigor and real-world understanding to our mission. 
    Her personal connection to the issue of malnutrition drives our passionate approach to solving this global challenge.
  </p>
  <h2>
    Our Commitment
  </h2>
  <p>
    At MaryaPorr, we're committed to ensuring our work goes beyond the laboratory. 
    We're dedicated to:
  </p>
  <ul>
    <li>
      Continuous research and development to improve our products
    </li>
    <li>
      Social impact and sustainability through biodegradable packaging
    </li>
    <li>
      Collaborating with local communities to ensure our solutions are culturally appropriate and truly beneficial
    </li>
    <li>
      Partnering with NGOs, governments, and other stakeholders to reach the children who need our help the most
    </li>
    <li>
      Maintaining transparency in our processes and impact
    </li>
  </ul>
  <p>
    Join us in our journey to nourish the future, one child at a time. 
    Together, we can make malnutrition a thing of the past.
  </p>
</div>

{% endblock %}
