{% extends "master.html" %}

{% block title %}
 - About
{% endblock %}

{% block content %}
<div class="container-md my-4 px-md-3">
  <h1 class="fw-bold my-4">About MaryaNutri</h1>
  <div class="row">
    <div class="col-md-6">
      <img src="/static/media/album/maryam_DO.jpeg" class="img-fluid rounded mb-3" alt="Maryam and her promotors">
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h2>
            Our Mission
          </h2>
          <p>
            At MaryaNutri© we're on a mission to end childhood malnutrition. 
            Based in Belgium with roots in Kenya and our eyes on the world, we're creating unique innovative insect-fortified foods that are nutritious, sustainable and culturally relevant. 
            Our goal is not just temporary relief but lasting change to end poverty and hunger.
          </p>
        </div>
        <div class="d-none col-md-12 d-lg-block">
          <h2>
            Our Founder
          </h2>
          <p>
            <a href="https://linkedin.com/in/maryam-imbumi-11113b79/" target="_blank">Maryam Imbumi</a>, our founder, is the heart of MaryaNutri©. As a Kenyan-born nutritionist and PhD
            student at Ghent University, she combines academic expertise with real-world experience. Her
            personal battle with malnutrition fuels our mission to combat this global issue.
          </p>
          <p>
            To fund her studies Maryam worked with NGOs, gaining invaluable experience in nutrition and humanitarian aid. 
            This blend of personal experience, education and practice laid the foundation for MaryaNutri©.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12 d-lg-none d-md-block">
      <h2>
        Our Founder
      </h2>
      <p>
        <a href="https://linkedin.com/in/maryam-imbumi-11113b79/" target="_blank">Maryam Imbumi</a>, our founder, is the heart of MaryaNutri©. As a Kenyan-born nutritionist and PhD
        student at Ghent University, she combines academic expertise with real-world experience. Her
        personal battle with malnutrition fuels our mission to combat this global issue.
      </p>
      <p>
        To fund her studies Maryam worked with NGOs, gaining invaluable experience in nutrition and humanitarian aid. 
        This blend of personal experience, education and practice laid the foundation for MaryaNutri©.
      </p>
    </div>
  </div>

<!-- Room here to place embedded documentary?! -->

  <h2 class="mt-2">
    Our approach
  </h2>
  <p>
    We believe in turning research into real-world impact. 
    That's why MaryaNutri© isn't just about innovative food products; 
    it's about bridging the gap between academic findings and practical solutions. 
    Our insect-fortified instant foods are:
  </p>
  <ul>
    <li>
      <b>Highly Nutritious</b>:
      Packed with quality proteins, essential amino acids, fatty acids, vitamins and minerals
    </li>
    <li>
      <b>Child-safe</b>:
      Suitable for children of 6 month and older
    </li>
    <li>
      <b>Food-safety</b>:
      Compliant with the highest food-safety standards
    </li>
    <li>
      <b>Sustainable</b>:
      Insect farming has a significantly lower environmental impact
    </li>
    <li>
      <b>Culturally Informed</b>:
      Building on existing dietary practices in many parts of the world
    </li>
    <li>
      <b>Accessible</b>:
      Designed to be affordable and easy to prepare
    </li>
  </ul>

  <h2>
    Our Commitment
  </h2>
  <p>
    At MaryaNutri©, our commitment goes beyond the lab. 
    We're dedicated to:
  </p>
  <ul>
    <li>
      Ongoing <b>R&D</b> to enhance our products
    </li>
    <li>
      <b>Sustainability</b> through biodegradable packaging
    </li>
    <li>
      Collaboration with <b>local</b> communities for culturally relevant solutions
    </li>
    <li>
      <b>Partnerships</b> with NGOs and governments to reach the most vulnerable children
    </li>
    <li>
      <b>Transparency</b> in all processes and impact
    </li>
  </ul>
  <hr>
  <p>
    Driving sustainable change to end structural poverty and hunger 
    is a core objective embedded in our company's structure, 
    ensuring that social impact remains integral to our business model.
    Join us in our journey to nourish the future, one child at a time. 
    Together, we can make malnutrition a thing of the past!
  </p>
</div>

{% endblock %}