{% extends "master.html" %}

{% block title %}
  Homepage
{% endblock %}

{% block content %}
  <h1>To end malnutrition once and for all!</h1>
  <form method="post">
    {% csrf_token %}
    <button class="btn btn-success" type="submit">Purchase!</button>
  </form>
  <p>
  Quae dolore commodi quia temporibus. Libero minima consectetur qui qui accusamus sint ea. Necessitatibus sed deleniti sed vitae minima dolor voluptatem sint. Vero in asperiores aut facere repellat inventore sit suscipit.

  Aliquid maiores dolorem dicta excepturi. Laudantium molestiae minus consequuntur odio nemo omnis dolores earum. Libero beatae necessitatibus repudiandae omnis labore quia iste maiores. Iusto molestias et quisquam aut et. Nobis occaecati placeat corporis et. Rem ea voluptates numquam commodi quo.

  Aut suscipit numquam praesentium molestiae ea. Atque numquam rerum vel voluptas quia laborum. Cupiditate aut aut magnam iste facilis. Tempore et dicta dolor illo molestiae quia eaque corporis.

  Eligendi voluptatem omnis eum et voluptatum porro voluptatem deleniti. Voluptatem neque eum modi labore voluptatibus. At et quisquam consectetur ea a maiores perspiciatis. Est eaque in dolore.

  Totam aliquid numquam omnis dicta enim esse totam. Occaecati quo repellendus est reiciendis vel in veritatis rerum. Consequatur quod asperiores fugit et consequatur earum. Sequi et laudantium ipsam dolorem et. Dignissimos expedita aut blanditiis voluptas esse autem ut. Rem laborum blanditiis veritatis.
  </p>
  <p>
  Quae dolore commodi quia temporibus. Libero minima consectetur qui qui accusamus sint ea. Necessitatibus sed deleniti sed vitae minima dolor voluptatem sint. Vero in asperiores aut facere repellat inventore sit suscipit.

  Aliquid maiores dolorem dicta excepturi. Laudantium molestiae minus consequuntur odio nemo omnis dolores earum. Libero beatae necessitatibus repudiandae omnis labore quia iste maiores. Iusto molestias et quisquam aut et. Nobis occaecati placeat corporis et. Rem ea voluptates numquam commodi quo.

  Aut suscipit numquam praesentium molestiae ea. Atque numquam rerum vel voluptas quia laborum. Cupiditate aut aut magnam iste facilis. Tempore et dicta dolor illo molestiae quia eaque corporis.

  Eligendi voluptatem omnis eum et voluptatum porro voluptatem deleniti. Voluptatem neque eum modi labore voluptatibus. At et quisquam consectetur ea a maiores perspiciatis. Est eaque in dolore.

  Totam aliquid numquam omnis dicta enim esse totam. Occaecati quo repellendus est reiciendis vel in veritatis rerum. Consequatur quod asperiores fugit et consequatur earum. Sequi et laudantium ipsam dolorem et. Dignissimos expedita aut blanditiis voluptas esse autem ut. Rem laborum blanditiis veritatis.
  </p>
  <p>
  Quae dolore commodi quia temporibus. Libero minima consectetur qui qui accusamus sint ea. Necessitatibus sed deleniti sed vitae minima dolor voluptatem sint. Vero in asperiores aut facere repellat inventore sit suscipit.

  Aliquid maiores dolorem dicta excepturi. Laudantium molestiae minus consequuntur odio nemo omnis dolores earum. Libero beatae necessitatibus repudiandae omnis labore quia iste maiores. Iusto molestias et quisquam aut et. Nobis occaecati placeat corporis et. Rem ea voluptates numquam commodi quo.

  Aut suscipit numquam praesentium molestiae ea. Atque numquam rerum vel voluptas quia laborum. Cupiditate aut aut magnam iste facilis. Tempore et dicta dolor illo molestiae quia eaque corporis.

  Eligendi voluptatem omnis eum et voluptatum porro voluptatem deleniti. Voluptatem neque eum modi labore voluptatibus. At et quisquam consectetur ea a maiores perspiciatis. Est eaque in dolore.

  Totam aliquid numquam omnis dicta enim esse totam. Occaecati quo repellendus est reiciendis vel in veritatis rerum. Consequatur quod asperiores fugit et consequatur earum. Sequi et laudantium ipsam dolorem et. Dignissimos expedita aut blanditiis voluptas esse autem ut. Rem laborum blanditiis veritatis.
  </p>
  <p>
  Quae dolore commodi quia temporibus. Libero minima consectetur qui qui accusamus sint ea. Necessitatibus sed deleniti sed vitae minima dolor voluptatem sint. Vero in asperiores aut facere repellat inventore sit suscipit.

  Aliquid maiores dolorem dicta excepturi. Laudantium molestiae minus consequuntur odio nemo omnis dolores earum. Libero beatae necessitatibus repudiandae omnis labore quia iste maiores. Iusto molestias et quisquam aut et. Nobis occaecati placeat corporis et. Rem ea voluptates numquam commodi quo.

  Aut suscipit numquam praesentium molestiae ea. Atque numquam rerum vel voluptas quia laborum. Cupiditate aut aut magnam iste facilis. Tempore et dicta dolor illo molestiae quia eaque corporis.

  Eligendi voluptatem omnis eum et voluptatum porro voluptatem deleniti. Voluptatem neque eum modi labore voluptatibus. At et quisquam consectetur ea a maiores perspiciatis. Est eaque in dolore.

  Totam aliquid numquam omnis dicta enim esse totam. Occaecati quo repellendus est reiciendis vel in veritatis rerum. Consequatur quod asperiores fugit et consequatur earum. Sequi et laudantium ipsam dolorem et. Dignissimos expedita aut blanditiis voluptas esse autem ut. Rem laborum blanditiis veritatis.
  </p>
{% endblock %}
