{% extends "master.html" %}

{% block title %}
  Homepage
{% endblock %}


{% block content %}

<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">MaryaPorr</h1>
  <div class="col-lg-6 mx-auto">
    <h2 class="mb-4">To end malnutrition once and for all!</h1>
    <p class="lead mb-4">MaryaPorr is a highly nutritious ready-to-use therapeutic porridge to treat severe acute malnutrition in children.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="{% url 'products' %}">
        <button class="btn btn-primary btn-lg">See our products</button>
      </a>
    </div>
  </div>
</div>


  <!-- <form method="post">
    {% csrf_token %}
    <button class="btn btn-secondary" type="submit">Purchase!</button>
  </form> -->

<!-- <section style="overflow: hidden;">
  <article class="d-flex"
  style="width: 200%; animation: bannermove 20s linear infinite;">
    <div class="w-100">
      <ul class="d-flex list-unstyled pl-0 m-0">
        <li><img class="h-25" src="static/media/img/aid_workers.jpg" /></li>
        <li><img class="h-25" src="static/media/img/zoom_in.jpg" /></li>
        <li><img class="h-25" src="static/media/img/kids_wcups.jpg" /></li>
        <li><img class="h-25" src="static/media/img/maryam.jpg" /></li>
      </ul>
    </div>
    <div class="w-100">
      <ul class="d-flex list-unstyled pl-0 m-0">
        <li><img class="h-25" src="static/media/img/cricket.png" /></li>
        <li><img class="h-25" src="static/media/img/kid_w_aid.png" /></li>
        <li><img class="h-25" src="static/media/img/kids_handinhand.png" /></li>
        <li><img class="h-25" src="static/media/img/lots_of_kids.png" /></li>
      </ul>
    </div>
  </article>
</section> -->

<section>
  <div class="container-md my-5">
    <h1>
      Malnutrition in the world
    </h1>
  </div>
</section>

<section>
  <div class="container-md my-5">
    <h1>
      The value of insects
    </h1>
  </div>
</section>

<section>
  <div class="container-md my-5">
    <h1>
      Relief funds and food aid
    </h1>
  </div>
</section>


<style>

</style>

{% endblock %}
