{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaryaPorr {% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
    <nav style="
        background-color: hsl(120, 18%, 68%); 
        border-color: hsl(120, 18%, 60%);
        "
    class="navbar navbar-expand-lg navbar-light mt-0 sticky-top zindex-sticky">
        <div class="container-md">
            <a class="navbar-brand" href="{% url 'home' %}">MaryaPorr</a>
            <button 
            class="navbar-toggler" type="button" 
            data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" 
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav banner">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  
    <main style="overflow: hidden;">
        {% block content %}
        {% endblock %}
    </main>
  
    <footer class="footer mt-auto bg-light">
        <div class="container">
            <div class="row pt-4 pb-2">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <h5>About MaryaPorr</h5>
                    <p>Highly nutritious baby porridge in your neighbourhood!</p>
                </div>
                <div class="col-lg-3 mb-4 mb-lg-0">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'products' %}" class="text-muted">Products</a></li>
                        <li><a href="{% url 'about' %}" class="text-muted">About</a></li>
                        <li><a href="mailto:contact@maryaporr.com" class="text-muted">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5>Connect With Us</h5>
                    <ul class="list-inline py-1">
                        <li class="list-inline-item mx-1"><a href="https://www.facebook.com/people/MaryaPorr/61564453629235/" class="text-muted"><i class="bi bi-facebook h3"></i></a></li>
                        <li class="list-inline-item mx-1"><a href="https://www.linkedin.com/company/maryaporr/posts/?feedView=all" class="text-muted"><i class="bi bi-linkedin h3"></i></a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row pt-3 pb-4">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-0">© <span id="year"></span> MaryaPorr. All rights reserved.</p>
                </div>
                <!-- <div class="col-md-6 text-center text-md-end">
                    <a href="#" class="text-muted">Privacy Policy</a>
                    <span class="mx-2">|</span>
                    <a href="#" class="text-muted">Terms of Service</a>
                </div> -->
            </div>
        </div>
    </footer>

    <script>
        let year = new Date().getFullYear();
        document.getElementById('year').textContent = year;
    </script>
</body>
</html>