{% extends "master.html" %}

{% block title %}
 - About
{% endblock %}

{% block content %}
<div class="container-md my-4">
  <h1 class="fw-bold my-4">Our Products</h1>
  <p class="lead">
    If you are interested in purchasing one of our products, please <a href="mailto:contact@maryaporr.com">contact us</a>.
    We will get back to you as soon as possible. 
  </p>
  <div class="row">
    <div class="col-md-6">
        <div class="card shadow-sm m-3 m-lg-5">
            <img src="/static/media/img/porride_in_funnel.jpg" class="card-img-top" alt="Mealworm-fortified porridge">
            <div class="card-body">
                <h5 class="card-title">Mealworm-fortified porridge</h5>
                <p class="card-text">
                    High-quality powder for making nutritious and healthy porridge. 
                    Fortified with mealworm extract to increase nutritional value. 
                    It only requires water to be mixed with. 
                </p>
                <a href="#">
                    <button disabled class="btn btn-primary">View Details</button>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow-sm m-3 m-lg-5">
            <img src="/static/media/img/porride_in_funnel.jpg" class="card-img-top" alt="Mealworm-fortified porridge">
            <div class="card-body">
                <h5 class="card-title">Cricket-fortified porridge</h5>
                <p class="card-text">
                    We also have a cricket-fortified porridge powder. 
                    We aim to price our products at an affordable 1 EUR per kilogram, 
                    to reach as many children as possible.
                </p>
                <a href="#">
                    <button disabled class="btn btn-primary">View Details</button>
                </a>
            </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}